 <div id="content_wrapper" >
      <div id="side_bar">

        <div id="sidebar_news_area">
          
        </div>
      </div>
<div id="content"> 
<div id="content-header">
  <img alt="Admission_page_logo" src="/images/admission/admission_page_logo.jpg?1350041856" />
  <h1>Admission</h1>
  <h3>Previous Details</h3>
  <div id="app-back-button">
    <a href="#" onclick="history.back(); return false;"><img alt="Back" border="0" src="/images/buttons/back.png?1350041856" /></a>
  </div>
</div>

<div id="page-yield">

  <%= nested_form_for @student, :url => student_previous_data_update_path(@student) do |f| %>
    <div style="margin:0;padding:0;display:inline">
    </div>

    <span class="span-sub-heading">Previous Educational Details</span>
    <hr class="sub-heading"></hr>
    <%= f.fields_for :education do |education| %>
      <div id="form-contents">
        <div class="label-field-pair">
          <label>Institution Name</label>
          <div class="text-input-bg">
            <%= education.text_field :institute_name %> 
          </div>
          <div class="extender"></div>
        </div>
        <div class="label-field-pair">
          <label>Course</label>
          <div class="text-input-bg">
            <%= education.text_field :course %>
          </div>
          <div class="extender"></div>
        </div>
        <div class="label-field-pair">
          <label>Year</label>
          <div class="text-input-bg">
            <%= education.text_field :year %>
          </div>
          <div class="extender"></div>
        </div>
        <div class="label-field-pair">
          <label>Total mark</label>
          <div class="text-input-bg">
            <%= education.text_field :total_marks %>
          </div>
          <div class="extender"></div>
        </div>

        <% end %>
        <div class="save-proceed-button">
          <a href="<%= student_additional_details_path %>" class="skip">► Skip</a>
          <%= f.submit "► Save & Proceed" %>
        </div>
      <div style="clear:both;"></div> 
      </div>


  <div class="ajax-subject">
    <ul id="added-subjects">
    <%= f.fields_for :subjects do |s| %>
      <%= s.text_field :subject %>
      <%= s.text_field :marks %>
    <% end %> 
    <%= f.link_to_add "Add Subject", :subjects %>
      
    </ul>

    <!-- <a href="#" onclick="new Ajax.Request('/student/previous_subject/67', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('4cB023VbKa50EJirOW5xHxqqu9AxVEeyetso814pCUI=')}); return false;">Add Subject</a>
    <div id="subject">
 -->
    </div>
  </div>
   <% end %>
</form>
</div>
  

 </div>

      <div class="extender"></div>
    </div>

    <div id="footer">
      <div id="footer_logo">
        <div id="powered_by">
          Powered by <a href=http://www.projectfedena.org target="_blank">Fedena</a>
        </div>
      </div>
    </div> 
  </div>